.AboutUs {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.AboutUs__Wraper {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AboutUs__Wraper__Button {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}