.outlays__container {
  padding: 0 5%;
  position: relative;
}

.content_wrapper {
  width: 100%;
  display: flex;
  gap: 8px;
}

.content__right {
  width: 30%;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.content__left {
  width: 70%;
}