.AccountDetailsCard {
  width: 100%;
  height: auto;
  margin-top: 20px;
  background-color: #fff;
  padding: 24px;
  border-radius: 12px;
}

.AccountDetailsCard__HeadTitle {
  font-size: 20px;
}

.AccountDetailsCard__Container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .AccountDetailsCard {
    margin-top: 20px;
  }

  .AccountDetailsCard__HeadTitle {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .AccountDetailsCard {
    margin-top: 18px;
  }

  .AccountDetailsCard__HeadTitle {
    font-size: 16px;
  }
}

@media screen and (max-width: 425px) {
  .AccountDetailsCard {
    margin-top: 18px;
  }

  .AccountDetailsCard__HeadTitle {
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  .AccountDetailsCard {
    margin-top: 16px;
  }

  .AccountDetailsCard__HeadTitle {
    font-size: 16px;
  }
}