.AccountDetailsCard {
  width: 100%;
  height: auto;
  margin-top: 28px;
  background-color: #fff;
  padding: 24px;
  border-radius: 12px;
}

.AccountDetailsCard__Container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .AccountDetailsCard {
    margin-top: 24px;
  }

  .AccountDetailsCard h1 {
    font-size: 22px;
  }
}