.AccountDetailsCard__Wrapper {
  width: 50%;
  height: auto;
  margin-top: 12px;
}

.AccountDetailsCard__Subtitle {
  font-size: 14px;
  color: #AEAEAE;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 4px;
}

.AccountDetailsCard__Title {
  font-size: 18px;
}

@media screen and (max-width: 1024px) {
  .AccountDetailsCard__Wrapper {
    margin-top: 8px;
  }

  .AccountDetailsCard__Subtitle {
    font-size: 12px;
  }

  .AccountDetailsCard__Title {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .AccountDetailsCard__Wrapper {
    margin-top: 6px;
  }

  .AccountDetailsCard__Subtitle {
    font-size: 10px
  }

  .AccountDetailsCard__Title {
    font-size: 14px;
  }
}

@media screen and (max-width: 425px) {
  .AccountDetailsCard__Wrapper {
    margin-top: 10px;
  }

  .AccountDetailsCard__Subtitle {
    font-size: 12px
  }

  .AccountDetailsCard__Title {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .AccountDetailsCard__Subtitle {
    font-size: 10px
  }

  .AccountDetailsCard__Title {
    font-size: 14px;
  }
}